<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">
    <test name="Smoke">
        <classes>
            <class name="tests.tests.SimpleTest"> </class>

        </classes>
    </test> <!-- Test -->
    <test name="Regression">
        <classes>
            <class name="tests.tests.Parameteers"/>
            <parameter name="username" value="abcd"/>
            <parameter name="password" value="1234"/>
        </classes>
    </test>
</suite> <!-- Suite -->